/******************************************************************************/
/* MAIN STYLES                                                                */
/******************************************************************************/

body {margin:60px 0 0 0;}

/******************************************************************************/
/* HEADER STYLE                                                               */
/******************************************************************************/

/* Header element */
header {
    background:rgb(64,80,84);
    opacity:1;
}

/******************************************************************************/
/* CONTENT STYLE                                                              */
/******************************************************************************/

.product {
    width:47%;
    border:2px solid #C9CFCF;
    border-radius:5px;
    margin:60px 0 0 0;
    box-sizing:border-box;
    clear:both;
    display:inline-block;
    vertical-align:top;
    font-family:'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
}

.product:nth-of-type(2n+1) {margin-right:3%;}

.product .price {
    background:-webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25));
    background:-moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25));
    background:linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25));
    height:52px;
    margin:-2px -2px 0 0;
    padding:0 20px 0 60px;
    border-radius:0 5px 0 0;
    float:right;
    font-family:'HelveticaNeue-Thin', Helvetica, Arial, sans-serif;
    font-size:25px;
    color:#fff;
    display:block;
    line-height:52px;
}

.product h3 {
    background:#C9CFCF;
    height:50px;
    padding:0 0 0 20px;
    font-family:'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
    font-size:18px;
    color:#232C2E;
    letter-spacing:2px;
    line-height:50px;
}

.product img {
    width:200px;
    height:auto;
    margin:0 40px 0 0;
    float:left;
    display:block:
}

.product .infos {
    height:187px;
    padding:20px;
    font-size:13px;
    color:rgb(64,80,84);
    letter-spacing:1px;
    line-height:20px;
}

.product .infos > ul > li {
    margin:0 0 10px 0;
}

.product .infos > ul > li > span {
    background:#C9CFCF;
    padding:3px 5px;
    border-radius:3px;
    display:inline-block;
    font-size:14px;
}

.product .infos > ul > li > ul {margin:5px 0 0 260px;}

.product .infos > ul > li > ul > li:before {
    content:'-';
    margin:0 5px 0 0;
    display:inline-block;
}

.product .add {
    background:rgba(64,80,84,1);
    width:140px;
    height:30px;
    margin:10px 10px 10px auto;
    padding:0 2px;
    border-radius:3px;
    box-sizing:border-box;
    cursor:pointer;
    display:block;
    text-align:center;
    font-size:14px;
    color:#fff;
    line-height:29px;
    -webkit-transition:0.15s;
    -moz-transition:0.15s;
    transition:0.15s;
}

.product .add:before {
    content:'+';
    width:16px;
    height:16px;
    margin:0 5px 0 0;
    top:-2px;
    border:1px solid #fff;
    border-radius:1000px;
    position:relative;
    display:inline-block;
    font-size:13px;
    line-height:13px;
}

.product .add:hover {background:rgba(64,80,84,0.8);}

/******************************************************************************/
/* RESPONSIVE STYLE                                                           */
/******************************************************************************/

@media screen and (max-width:1060px) {
    .product {
        width:100%;
        margin:50px 0 0 0;
        display:block;
    }
}
