/******************************************************************************/
/* MAIN STYLES                                                                */
/******************************************************************************/

body {margin:600px 0 0 0;}

/******************************************************************************/
/* TIMELAPSE STYLE                                                            */
/******************************************************************************/

/* Timelapse elements */
#timelapse {
    background:url('../medias/timelapse.jpg') no-repeat center center;
    background-size:auto 100%;
    background-size:cover;
    width:100%;
    height:600px;
    left:0;
    top:0;
    overflow:hidden;
    z-index:0;
    position:fixed;
}

#timelapse .overlay {
    background:rgba(0,0,20,0.2);
    width:100%;
    height:100%;
    z-index:1;
    position:fixed;
}

#timelapse video {
    width:100%;
    height:auto;
    z-index:0;
    position:relative;
}

/* Main title elements */
#main-title {
    width:100%;
    height:60px;
    margin:270px 0 0 0;
    position:relative;
    font-family:'Walkway', Helvetica, Arial, sans-serif;
    font-size:60px;
    color:#fff;
    letter-spacing:40px;
    text-transform:uppercase;
    text-align:center;
}

#main-title .bold {font-family:'Walkway-Bold', Helvetica, Arial, sans-serif;}

#main-title div {
    position:relative;
    display:inline-block;
}

/* Discover button */
#timelapse .discover {
    width:150px;
    top:0;
    margin:150px auto 0 auto;
    padding:15px;
    border:2px solid #fff;
    cursor:pointer;
    position:relative;
    display:block;
    font-family:Helvetica, Arial, sans-serif;
    font-size:15px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:5px;
    -webkit-transition:0.3s, opacity 0, top 0;
	-moz-transition:0.3s, opacity 0, top 0;
    transition:0.3s, opacity 0, top 0;
}

#timelapse .discover:hover {
    background:#fff;
    color:rgb(64,80,84);
}

/******************************************************************************/
/* HEADER STYLE                                                               */
/******************************************************************************/

/* Header element */
header {
    background:transparent;
    opacity:0;
}

/******************************************************************************/
/* CONTENT STYLE                                                              */
/******************************************************************************/

/* Introduction section */
#introduction .prudwizzle {
    background:url('../medias/icons/figure/prudwizzle.png') no-repeat center center;
    background-size:100% auto;
    width:200px;
    height:160px;
    margin:40px auto 0 auto;
	opacity:0;
	-webkit-transform:scale(2) rotate(20deg);
	-moz-transform:scale(2) rotate(20deg);
	transform:scale(2) rotate(20deg);
}

#introduction .prudwizzle[data-scrollfire='true'] {
	opacity:1;
	-webkit-transform:scale(1) rotate(0);
	-moz-transform:scale(1) rotate(0);
	transform:scale(1) rotate(0);
	-webkit-transition:0.5s 0.2s;
	-moz-transition:0.5s 0.2s;
	transition:0.5s 0.2s;
}

/* Art section */
#art {
	background-image:-webkit-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../medias/art.jpg');
	background-image:-moz-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../medias/art.jpg');
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../medias/art.jpg');
}

#art .draw {
	width:300px;
	height:135px;
	margin:30px auto 0 auto;
}

#art .brush {
    background:url('../medias/icons/figure/brush.png') no-repeat center center / 100% auto;
    width:59px;
    height:100px;
    top:2px;
    margin:0 0 0 -1px;
    position:relative;
}

#art .draw .line {
    background:url('../medias/icons/figure/line.png') no-repeat 0 bottom / 300px auto;
	width:0;
	height:55px;
    margin:-20px 0 0 0;
    overflow:hidden;
	font-size:0;
}

#art .draw .line strong {
    width:300px;
    position:relative;
    display:block;
    font-family:Times, serif;
    font-size:23px;
    font-style:italic;
    font-weight:normal;
    color:#fff;
    text-align:center;
}

#art .draw[data-scrollfire='true'] .brush {
	top:37px;
	left:100%;
	-webkit-animation:brush-x 2s 1 cubic-bezier(0.7,0,0.3,1), brush-y 2s 1 linear;
	-moz-animation:brush-x 2s 1 cubic-bezier(0.7,0,0.3,1), brush-y 2s 1 linear;
	animation:brush-x 2s 1 cubic-bezier(0.7,0,0.3,1), brush-y 2s 1 linear;
}

#art .draw[data-scrollfire='true'] .line {
	width:100%;
    -webkit-animation:line 2s 1 cubic-bezier(0.7,0,0.3,1);
	-moz-animation:line 2s 1 cubic-bezier(0.7,0,0.3,1);
	animation:line 2s 1 cubic-bezier(0.7,0,0.3,1);
}

/* Wood section */
#wood {
    background-image:-webkit-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../medias/wood.jpeg');
	background-image:-moz-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../medias/wood.jpeg');
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../medias/wood.jpeg');
}

#wood .leaf {
    background:url('../medias/icons/figure/leaf.png') no-repeat center center;
    background-size:70px 70px;
    width:150px;
    height:150px;
    margin:80px auto 0 auto;
    border:2px solid #fff;
    border-radius:200px;
	opacity:0;
}

#wood .leaf:before {
    content:'';
    background:-webkit-linear-gradient(transparent,#fff);
	background:-moz-linear-gradient(transparent,#fff);
    background:linear-gradient(transparent,#fff);
    width:2px;
    height:0;
    margin:0 auto;
    display:block;
}

#wood .leaf[data-scrollfire='true'] {
	opacity:1;
	-webkit-animation:leaf 0.7s  1;
	-moz-animation:leaf 0.7s  1;
	animation:leaf 0.7s  1;
}

#wood .leaf[data-scrollfire='true']:before {
	margin-top:-80px;
	height:80px;
	-webkit-transition:0.5s 0.5s;
	-moz-transition:0.5s 0.5s;
	transition:0.5s 0.5s;
}

/* Child section */
#child {
    background-image:-webkit-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../medias/child.jpg');
	background-image:-moz-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../medias/child.jpg');
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../medias/child.jpg');
}

#child .child {
    background:url('../medias/icons/figure/child.png') no-repeat 0 100% / 128px 128px;
    height:200px;
    width:130px;
    margin:20px auto 0 auto;
}

#child .child:before, #child .child:after {
    content:'';
    background:url('../medias/icons/figure/heart.png') no-repeat center center / 100% auto;
    width:32px;
    height:32px;
    top:75px;
    left:48px;
    position:relative;
    display:block;
    -webkit-transform:scale(0.2);
    -moz-transform:scale(0.2);
    transform:scale(0.2);
}

#child .child:before {margin:0 0 -32px 0;}

#child .child[data-scrollfire='true']:before, #child .child[data-scrollfire='true']:after {
    opacity:1;
    -webkit-transition:0.9s 0.1s;
    -moz-transition:0.9s 0.1s;
    transition:0.9s 0.1s;
}

#child .child[data-scrollfire='true']:before {
    top:20px;
    left:90px;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    transform:scale(1);
}

#child .child[data-scrollfire='true']:after {
    top:35px;
    left:120px;
    -webkit-transform:scale(0.7) rotate(20deg);
    -moz-transform:scale(0.7) rotate(20deg);
    transform:scale(0.7) rotate(20deg);
}

/* Buy section */
#buy a {
    width:100%;
    max-width:390px;
    top:0;
    margin:0 auto;
    padding:15px;
    border:2px solid rgb(64,80,84);
    cursor:pointer;
    box-sizing:border-box;
    position:relative;
    display:block;
    font-family:Helvetica, Arial, sans-serif;
    font-size:15px;
    color:rgb(64,80,84);
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:5px;
    line-height:25px;
    -webkit-transition:0.3s, opacity 0, top 0;
	-moz-transition:0.3s, opacity 0, top 0;
    transition:0.3s, opacity 0, top 0;
}

#buy a:hover {
    background:rgb(64,80,84);
    color:#fff;
}

/******************************************************************************/
/* RESPONSIVE STYLE                                                           */
/******************************************************************************/

@media screen and (max-width:1060px) {
    body {margin:400px 0 0 0;}

    #timelapse {
        height:400px;
    }

    #main-title {
        height:6vw;
        margin-top:170px;
        font-size:6vw;
        letter-spacing:4vw;
    }

    #timelapse .discover {
        margin-top:70px;
    }

    header nav {background:transparent;}

    #art .draw {
        left:-25px;
        position:relative;
        -webkit-transform:scale(0.7);
        -moz-transform:scale(0.7);
        transform:scale(0.7);
    }
}

/******************************************************************************/
/* ANIMATIONS                                                                 */
/******************************************************************************/

@-webkit-keyframes leaf {
	0% {opacity:0;-webkit-clip-path:polygon(0 -80px, 100% -80px, 100% -80px, 0 -80px, 0 -80px);-webkit-transform:scale(0.8);}
	100% {opacity:1;-webkit-clip-path:polygon(0 -80px, 100% -80px, 100% 100%, 0 100%, 0 -80px);-webkit-transform:scale(1);}
}

@-moz-keyframes leaf {
	0% {opacity:0;-webkit-clip-path:polygon(0 -80px, 100% -80px, 100% -80px, 0 -80px, 0 -80px);-moz-transform:scale(0.8);}
	100% {opacity:1;-webkit-clip-path:polygon(0 -80px, 100% -80px, 100% 100%, 0 100%, 0 -80px);-moz-transform:scale(1);}
}

@keyframes leaf {
	0% {opacity:0;clip-path:polygon(0 -80px, 100% -80px, 100% -80px, 0 -80px, 0 -80px);transform:scale(0.8);}
	100% {opacity:1;clip-path:polygon(0 -80px, 100% -80px, 100% 100%, 0 100%, 0 -80px);transform:scale(1);}
}

@-webkit-keyframes line {
	0% {width:0}
	100% {width:100%;}
}

@-moz-keyframes line {
	0% {width:0}
	100% {width:100%;}
}

@keyframes line {
	0% {width:0}
	100% {width:100%;}
}

@-webkit-keyframes brush-x {0% {left:0;} 100% {left:100%}}
@-webkit-keyframes brush-y {0% {top:2px;} 100% {top:37px;}}

@-moz-keyframes brush-x {0% {left:0;} 100% {left:100%}}
@-moz-keyframes brush-y {0% {top:2px;} 100% {top:37px;}}

@keyframes brush-x {0% {left:0;} 100% {left:100%}}
@keyframes brush-y {0% {top:2px;} 100% {top:37px;}}
